      {% extends 'shop/basic.html'%}

                {% block title %} TechZone {% endblock%}


                {% block body%}


<div class="container">
	<br>
		<div class="row">
	        <!-- <div class="card mt-4"> -->
	          <div class="col-md-6">
	          	<img class="card-img-top img-fluid" alt="" src="/media/{{data.image}}">
	          </div>
	          <div class="col-md-6">
		          <div class="card-body">
		            <h3 class="card-title">{{data.name}}</h3>
		            <h4>Rs: {{data.prize}}</h4>
		            <p class="card-text">{{data.description}}</p>
		            <span class="text-warning">★ ★ ★ ★ ☆</span>
		            4.0 stars
		          </div>
	          </div>
	        <!-- </div> -->
	     </div>
        <!-- /.card -->

        <div class="card card-outline-secondary my-4">
          <div class="card-header">
            Product Reviews
          </div>
          <div class="card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
            <hr>
            <a class="btn btn-success" href="#">Leave a Review</a>
          </div>
        </div>
        <!-- /.card -->

      </div>




                    {% endblock%}


                    {% block js %}



                    {% endblock %}